apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-app
        image: tvoy-login-docker/todo-app:latest # Замени на свой образ
        ports:
        - containerPort: 3000
        env:
        - name: MONGO_URL
          value: "mongodb://mongo-service:27017/todos" # Подключение к сервису Mongo
---
apiVersion: v1
kind: Service
metadata:
  name: todo-service
spec:
  selector:
    app: todo-app
  type: NodePort # Чтобы можно было открыть в браузере через Minikube
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001